.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: var(--element-background);
  border: 2px solid var(--yt-accent);
  border-radius: 8px;
  text-align: center;
  padding: 0.8em 2em;
  padding-bottom: 2em;
  gap: 0.5em;
}

.main p {
  padding-bottom: 0;
  margin: 0;
}

.main button {
  width: 60%;
  margin-top: 1em;
}
